html, body { 
	margin: 0; padding: 0; height: 100%; 
}

@media (max-width: 480px) {

	.container {
      padding: 0;
      margin: 0;
    }

    body {
      padding: 0;
      margin: 0;
    }

}

#jumbotron {
	background-image: linear-gradient(rgba(0,0,0, 0.75), rgba(0,0,0,0.75)), url('drone-strike.gif');
	height: 600px;
	background-size: cover;
	background-position: center;
	text-align: center;
}

#headline {
	font-family: 'Bevan', cursive;
	color: white;
	font-size: 5em;
}

#headline-container {
	padding-top: 3em;
}

#sub-head {
	font-family: Georgia;
	color: white;
	font-size: 2.5em;
	padding-top: 0.5em;
}

#up-button{
	 position: fixed;
   bottom: 0;
   left: 0.5em;
   width: 100%;
   font-size: 4em;
}

#up-button:hover {
	opacity: 0.5;
}

#line {
	width: 22em;
  height: 0.2em;
  background-color: white;
  margin: 0 auto;
}

#byline {
	
	font-family: Georgia;
	color: white;
	font-size: 2em;

}

.story-panel {
	position: relative;
	opacity: 0.9;
	/*margin-bottom: 2em;*/
	margin-top: 2em;
}


.text {
	position: relative;
	width: 85%;
	margin: 0 auto;
	font-family: 'Bevan', cursive;
	vertical-align: middle;
	font-size: 3em;
	bottom: 8em;
	text-align: center;
}

/*.content-package {
	margin-bottom: -35px;
}*/

.content-package .hover {
	color: transparent;
}

.content-package:hover p {
	color: black;
}

.text:hover {
	cursor: pointer;
	color: black;
	text-decoration: underline;
}



.story-panel:hover {
	opacity: 0.4;
}


#map {
	height: 100%;
}

#twitter-logo {
	opacity: 0.7;
}

#twitter-logo:hover {
	opacity: 0.5;
}

#jumbo-container {
	position: relative;
	top: 25px;
}

#navbar {
	display: inline-block;
	color: white;
	font-size: 1em;
	font-family: Georgia;
}

#navbar li {
	text-decoration: none;
	display: inline-block;
	padding-right: 0.4em;
}

#navbar li:hover {
	opacity: 0.5;
	cursor: pointer;
}


#username-container{
	z-index: -1;
}

.modal-backdrop {
  opacity:0.5 !important;
}

/* full screen modal style*/


#mapModal .modal-content {
	height: 95%;
	border-radius: 0;
}

#mapModal .modal-dialog {
  width: 95%;
  height: 95%;
  padding: 0;
  overflow-y: initial !important
}

#chartModal {
	width: 100%;
	height: 100%;
	opacity: 0.97;
}

#chartModal .modal-content {
	height: 100%;
	border-radius: 0;
}

#chartModal .modal-dialog {
  width: 95%;
  height: 95%;
  padding: 0;
  overflow-y: initial !important
}

#profileModal .modal-dialog {
	height: 95%;
  padding: 0;
  overflow-y: initial !important
}

#profileModal .modal-content {
	height: 100%;
	border-radius: 0;
}

#searchModal {
	display: none;
	opacity: 0.97;
}

#searchModal .modal-dialog {
  width: 100%;
  height: 95%;
  padding: 0;
  overflow-y: initial !important
}


#searchModal .modal-content {
  height: 100%;
  border-radius: 0;
}

#tweetModal .modal-dialog {
	height: 95%;
  padding: 0;
  overflow-y: initial !important
}

#tweetModal .modal-content {
  height: 100%;
  border-radius: 0;
}

.modal-body{
    height: 95%;
    overflow-y: auto;
}


.custom-btn-1 {
  border-radius:0px;
  background-color:transparent;
  border:2px solid #337ab7;
  margin:5px;
  color: black;
}

.custom-btn-1:hover {
  color:#fff;
  background-color:rgba(0, 0, 0,  0.42);
}

#search-container .form-group {
	width: 40%;
}

#search-bar {
	margin: 0 auto;
	width: 100%;
}

.username-image {
	display: inline-block;
}

#type {
	position: absolute;
	z-index: 999;
	top: 100px;
}

#viz {
	position: relative;
	height: 90%;
}

#story {
	padding-top: 30px;
}

#article-text p {
	font-family: Georgia;
	font-size: 1.5em;
}


